header {
  text-align: center;
  margin: 3rem 0 2rem;
  filter: drop-shadow(0 0 1rem rgb(0,0,0))
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

header img {
  display: inline-block;
  height: 6vh;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h1::before {
  content: "";
  border-left: 1px solid var(--fgColor);
  margin: 0 2rem;
}

header p {
  margin: 0;
}

@media screen and (min-width: 800px) {
  header {
    margin-top: 4rem;
  }
}