
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 0;
  transition: all .2s ease;
}

.loader.fadeIn {
  height: 1rem;
  margin: 1rem 0;
}

.loader span {
  height: 1rem;
  width: .4rem;
  margin: 0 .15rem;
  background: #7A7D82;
  animation: flash 1s ease infinite;
}

.loader span:nth-of-type(2) {
  animation-delay: .1s;
}

.loader span:nth-of-type(3) {
  animation-delay: .2s;
}

@keyframes flash {
  0%, 60%, 100% { background: #7A7D82; }
  80% { background: #FFFFFF; }
}
