
.searchform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--defaultColor);
  margin-bottom: 2rem;
  position: relative;
}

.searchform input,
.searchform select,
.searchform button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  border-radius: 0;
  transition: all .2s ease;
}

.searchform input {
  flex: 1;
}

.searchform select {
  border-top: 1px solid var(--defaultColor);
}

.searchform input:focus,
.searchform select:focus {
  background: var(--defaultColor);
}

.searchform option {
  background: #000000;
}

.searchform button {
  padding: 1rem 2rem;
  cursor: pointer;
  background: var(--defaultColor);
  text-transform: uppercase;
  transition: all .2s ease;
}

.searchform button:hover,
.searchform button:focus {
  background: var(--focusColor);
}

.searchform button:disabled {
  opacity: 0.5;
  background: var(--defaultColor);
  cursor: not-allowed;
}

@media screen and (min-width: 800px) {

  .searchform {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .searchform select {
    border: none;
    margin: 0 1rem;
  }

}

